<div>
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Gerencie sua conta da UECE</h1>
					<p>Crie documentos da maneira mais fácil possível, envie para outros usuários e mantenha seus documentos salvos em um só lugar.</p>
					<img src="../../../assets/images/image.jpg" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Login de usuário</h2>
				<p>Digite suas informações de login</p>
				<form (ngSubmit)="onSubmit()">
					<label>Email</label>
					<div class="nav-link input-group">
						<i class="menu-icon mdi mdi-email-outline"></i>
						<input type="email" placeholder="Digite seu email" name="username" [(ngModel)]="loginObject.username" required=""> 
					</div>
					<label>Senha</label>
					<div class="nav-link input-group">
						<i class="menu-icon mdi mdi-lock-outline"></i>
						<input type="Password" placeholder="Digite sua senha" name="password" [(ngModel)]="loginObject.password" required="">
					</div> 
					<div class="login-check">
						<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Lembrar me</label>
					</div>						
						<button class="btn btn-danger btn-block" type="submit">Login</button >                
				</form>
				<p class="account1">Ainda não tem uma conta? <a href="#">Cadastre-se</a></p>
			</div>
		</div>
		<!-- //main content -->
	</div>
	<!-- footer -->
	
	<!-- footer -->
</div>