<div class="content-wrapper">
  <div class="row">

    <!-- Inicio do conteudo do documento -->
    <div class="col-lg-12 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h4 class="card-title">Novo Setor</h4>
                <p class="card-description">
                  Insira as informações necessárias para criar um novo setor.
                </p>
            </div>
            <div class="card-body">
              <div class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputName1">Nome</label>
                    <input type="text" class="form-control" [(ngModel)]="setor.nome" placeholder="Name">
                </div>
                <button (click)="salvar()" class="btn btn-success mr-2">Salvar</button>
                <button class="btn btn-light">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim do conteudo do documento -->
  </div>
</div>
